/build
/CMakeFiles
/.vs
QWEN.md
/Sources/src/StreamIOLib_del
/Sources/sdk/directx
/Sources/src/build
Sources/src/build_output.txt
/Sources/src/GFX/build
/.qwen
/.vscode
/Sources/src/editor/Debug
/Sources/src/excelexporter/Debug
/Sources/src/FontGen/Debug
/Sources/src/Formats/Debug
/Sources/src/GameTT/Debug
/Sources/src/Image/Debug
/Sources/src/imagedefrag/Debug
/Sources/src/InterfaceSystemTest/Debug
/Sources/src/Misc/build
/Sources/src/StreamIO/build
/Sources/src/Input/Debug
/Sources/src/BugSlay/build
/Sources/sdk/fmod
/Sources/src/Net/build
/Sources/src/Image/build
/Sources/src/spcomp/build
/Sources/src/Input/build
/Sources/src/libpng/build
/Sources/src/MapEditor/build/.vs
/Sources/src/MapEditor/build
/Sources/src/SFX/build
/Sources/src/build_x86
/Sources/src/soundverifycation/build
/Sources/sdk/bink
/Sources/src/AILogic/build
