/build/CD/win9X
/CMakeFiles
.vs/Blitzkrieg/FileContentIndex/61f6c289-87cb-4ae5-a513-2273517c39f5.vsidx
.vs/Blitzkrieg/v17/.suo
.vs/Blitzkrieg/v17/Browse.VC.db
.vs/Blitzkrieg/v17/DocumentLayout.json
.vs/Blitzkrieg/v17/fileList.bin
.vs/Blitzkrieg/v17/Solution.VC.db
ailogic.vcxproj
ailogic.vcxproj.filters
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
Blitzkrieg.sln
cmake_install.cmake
CMakeCache.txt
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
.vs/Blitzkrieg/FileContentIndex/1fec36ca-0d36-4e45-ab4a-f596fbfc2c77.vsidx
.vs/Blitzkrieg/v17/DocumentLayout.backup.json
*.vcxproj
anim.vcxproj
anim.vcxproj.filters
Blitzkrieg.vcxproj
Blitzkrieg.vcxproj.filters
pro/A7ExportModel/A7ExportModel.sln
pro/A7ExportModel/A7ExportModel.vcxproj
pro/A7ExportModel/A7ExportModel.vcxproj.filters
pro/A7ExportModel/CMakeFiles/generate.stamp
pro/A7ExportModel/CMakeFiles/generate.stamp.depend
pro/A7ExportModel/Formats.vcxproj
pro/A7ExportModel/Formats.vcxproj.filters
pro/A7ExportModel/Misc.vcxproj
pro/A7ExportModel/Misc.vcxproj.filters
pro/A7ExportModel/StreamIOLib.vcxproj
pro/A7ExportModel/StreamIOLib.vcxproj.filters
pro/AILogic/AILogic.sln
pro/AILogic/AILogic1.vcxproj
pro/AILogic/AILogic1.vcxproj.filters
pro/AILogic/BugSlay.vcxproj
pro/AILogic/BugSlay.vcxproj.filters
pro/AILogic/CMakeFiles/generate.stamp
pro/AILogic/CMakeFiles/generate.stamp.depend
pro/AILogic/Image.vcxproj
pro/AILogic/Image.vcxproj.filters
pro/AILogic/LuaLib.vcxproj
pro/AILogic/LuaLib.vcxproj.filters
pro/AILogic/RandomMapGen.vcxproj
pro/AILogic/RandomMapGen.vcxproj.filters
/Sources/sdk/VC98
Sources/src/.vs/A7/v17/.suo
/Sources/src/.vs
Sources/src/A7.ncb
Sources/src/A7.sln
Sources/src/A7.suo
Sources/src/a7exportmodel/A7ExportModel.vcproj
Sources/src/a7exportmodel/build.bat
/Sources/src/a7exportmodel/build
/Sources/src/AILogic/Debug
Sources/src/Anim/Anim.vcproj
Sources/src/Anim/Animation.sln
Sources/src/Anim/ANIMATION.vcxproj
Sources/src/Anim/ANIMATION.vcxproj.filters
/Sources/src/Anim/CMakeFiles
/Sources/src/betakeygen
Sources/src/BugSlay/BugSlay.vcproj
Sources/src/BugSlay/Debug/BuildLog.htm
Sources/src/BugSlay/Debug/vc70.idb
Sources/src/BugSlay/Debug/vc70.pdb
/Sources/src/build_x86
/Sources/src/buildversion/Debug
Sources/src/buildversion/BuildVersion.vcproj
Sources/src/bzmconvertor/BZMConvertor.vcproj
/Sources/src/bzmconvertor/Debug
/Sources/src/CMakeFiles
Sources/src/Common/Common.vcproj
/Sources/src/Common/Debug
/Sources/src/editor/Debug
Sources/src/ELK/ELK.vcproj
Sources/src/editor/editor.vcproj
/Sources/src/excelexporter/Debug
Sources/src/excelexporter/ExcelExporter.vcproj
/Sources/src/FontGen/Debug
/Sources/src/Formats/Debug
/Sources/src/Game/Debug
Sources/src/Game/Game.vcproj
/Sources/src/GameSpy/Debug
/Sources/src/GameTT/Debug
Sources/src/GameSpy/GameSpy.vcproj
Sources/src/FontGen/FontGen.vcproj
Sources/src/Formats/Formats.vcproj
Sources/src/GameTT/GameTT.vcproj
/Sources/src/GFX/Debug
/Sources/src/Image/Debug
Sources/src/Image/Image.vcproj
Sources/src/GFX/GFX.vcproj
/Sources/src/imagedefrag/Debug
Sources/src/imagedefrag/ImageDefrag.vcproj
/Sources/src/Input/Debug
Sources/src/Input/Input.vcproj
/Sources/src/InterfaceSystemTest/Debug
/Sources/src/libpng/Debug
/Sources/src/LuaLib/Debug
/Sources/src/Main/Debug
/Sources/src/MapEditor/Debug
/Sources/src/Misc/Debug
Sources/src/Net/Debug/BuildLog.htm
/Sources/src/Net/Debug
/Sources/src/a7exportmodel/Debug
/Sources/src/zlib/build
/Sources/src/zlib/build_x86
Sources/src/zlib/zlib.sln
Sources/src/zlib/zlib.vcxproj.filters
Sources/src/zlib/zlib.vcproj
/Sources/src/zlib/CMakeFiles
Sources/src/zlib/build.bat
Sources/src/zlib/configure_x64.bat
Sources/src/zlib/configure_x86.bat
/Sources/src/StreamIOLib/Debug
Sources/src/StreamIO/StreamIO.vcproj
/Sources/src/UI/Debug
/Sources/src/soundverifycation/Debug
/Sources/src/SFX/Debug
/Sources/src/scl/Debug
/Sources/src/PlanePathTest/Debug
/Sources/src/a7exportmodel/Debug
Sources/src/AILogic/AILogic.vcproj
Sources/src/InterfaceSystemTest/InterfaceSystemTest.vcproj
Sources/src/libpng/libpng.vcproj
Sources/src/LuaLib/LuaLib.vcproj
Sources/src/Main/Main.vcproj
Sources/src/MapEditor/MapEditor.vcproj
Sources/src/Misc/Misc.vcproj
Sources/src/Net/Net.vcproj
Sources/src/PlanePathTest/PlanePathTest.vcproj
/Sources/src/RandomMapGen/Debug
/Sources/src/Scene/Debug
/Sources/src/StreamIO/Debug
Sources/src/Scene/Scene.vcproj
Sources/src/scl/scl.vcproj
Sources/src/SFX/SFX.vcproj
Sources/src/soundverifycation/SoundVerifycation.vcproj
Sources/src/StreamIOLib/StreamIOLib.vcproj
Sources/src/UI/UI.vcproj
Sources/src/RandomMapGen/RandomMapGen.vcproj
